ul {
    list-style: none;
}

/* html, body {
    margin: 10px; 
    padding: 10px;
    background-color: #ffeead;
}*/

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    min-height: 300px;
}

.nav-header {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.nav-header, ul {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 22px;
}

.links li {
    padding: 10px;
    font-size: 14px;
}

/* header-sub */

.header-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sub-left {
    margin-left: 100px;
}

.header-sub-right {
    margin-right: 100px;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heading-content {
    font-size: 14px;
    color: #F9FAF8;
}

.button button {
    margin-top: 15px;
    font-size: 15px;
    color: #F9FAF8;
    background-color: blue;
}


